﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SiteTreeviewHome.ascx.cs" Inherits="SitefinityWebApp.Controls.SiteTreeviewHome" %>
<%@ Register TagPrefix="telerik" Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" %>

 
 
 
<telerik:RadTreeview ID="RadTreeview1"   OnNodeDataBound="RadTreeview1_NodeDataBound"  runat="server"  BorderStyle="None" EnableEmbeddedSkins="false" Skin="VibcoHome" ShowLineImages="false"  >
</telerik:RadTreeview>
