﻿<%@ Master Language="C#"  AutoEventWireup="true" CodeFile="VibcoProductDetails.master.cs" Inherits="App_Master_VibcoProductDetails" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
  

    <title></title>
 
 
</head>
<body>
    <form id="form1" runat="server">
   
    <div class="Page">
      
      <div class="PageTop">
        
            <a class="Logo" href="/"></a>
            
            <div class="SearchSocial">
              
                   <div class="SMLinks">
                    
                    <asp:ContentPlaceHolder id="SMLinks" runat="server"></asp:ContentPlaceHolder>
               
                  </div>
                
                

                <div class="Search">
                <p>800-633-0032</p>
                
                <asp:ContentPlaceHolder id="SearchArea" runat="server"></asp:ContentPlaceHolder>
                  
                </div>
         
            </div>
             <div class="TNavi">
                        
                     <div class="TNaviLinks"> 
                          <asp:ContentPlaceHolder id="TopNaviLinks" runat="server"></asp:ContentPlaceHolder>
                    
                       
                     </div>
                 <div class="MainNavi">
           <div class="MainNaviSub"><p id="MenuSubHover" style="padding-top:0px;padding-left:15px;"></p></div>
            <div class="MainNaviMenu"><asp:ContentPlaceHolder id="MainNavigationMenuArea" runat="server"></asp:ContentPlaceHolder></div>
        </div>
                   </div>
                 

       
             
       

      </div>
      
     
           
     <div class="MainContentWrapper">   
      <div class="MainContent">
        
      	<div class="Breadcrumbs"><asp:ContentPlaceHolder id="BreadcrumbsArea" runat="server"></asp:ContentPlaceHolder></div>
	
	<div class="ProductDetails">
		<div class="productsLeft left">
			<div id="ProductSlideShow">
				<!-- Product Image Slideshow Placeholder -->
				<asp:ContentPlaceHolder id="ProductDetailsSlideShow" runat="server"></asp:ContentPlaceHolder>
			</div>
			<div id="ProductTabs">
				<asp:ContentPlaceHolder id="ProductDetailsTabs" runat="server"></asp:ContentPlaceHolder>
			</div>
			<div id="ProductVideo">
				<!-- Product Video Area Place Holder -->
				<asp:ContentPlaceHolder id="ProductDetailsVideo" runat="server"></asp:ContentPlaceHolder>
			</div>
		</div>
		<div class="productsRight right">
			<div id="ProductDetailsSpecs">
				<asp:ContentPlaceHolder id="ProductDetailsSpecsArea" runat="server"></asp:ContentPlaceHolder>
			</div>
			<div id="ProductDetailsQuality">
				<asp:ContentPlaceHolder id="ProductDetailsQualityArea" runat="server"></asp:ContentPlaceHolder>
			</div>
			<div id="ProductDetailsHelp">
				<asp:ContentPlaceHolder id="ProductDetailsHelpArea" runat="server"></asp:ContentPlaceHolder>
			</div>
			<div id="ProductDetailsTestimonials">
				<asp:ContentPlaceHolder id="ProductDetailsTestimonialsArea" runat="server"></asp:ContentPlaceHolder>
			</div>
		</div>
		
			<div class="clear"></div>
	</div>

	<div class="productfooter">
		<asp:ContentPlaceHolder id="ProductDetailsFooterArea" runat="server"></asp:ContentPlaceHolder>
	</div>
	
	<div class="clear"></div>   
              
         </div>
         </div>
    

     <div class="Footer">
              <div class="FooterContent">
             <a href="/industries-applications/van-visit-request">Visit Vibco</a> &nbsp;| &nbsp;<a href="/about/lean-manufacturing">Lean Manufacturing</a> &nbsp;| &nbsp;<a href="/industries-applications/vibco-van-visit">Virtual Van Visit</a> &nbsp;| &nbsp;<a href="/industries-applications">Industries and Applications</a> &nbsp;| &nbsp;<a href="/contact">Contact</a> &nbsp;| &nbsp;<a href="/about/terms-of-use">Terms of Use</a> &nbsp;| &nbsp;<a href="/about/terms-of-sale">Terms of Sale</a> &nbsp;| &nbsp;<a href="/sitemap">SiteMap</a>
             <br /><br />
             &copy; 2011 VIBCO Vibrators • 75 Stilson Road, P.O. Box 8 • Wyoming, RI • 02898 • Phone: 401-539-2392 or 800-633-0032 • Fax: 401-539-2584

             <br /><br /> 
             MADE IN <asp:Image ID="imgusaFlag" runat="server" ImageUrl="~/App_Themes/VibcoOrange/Global/Images/usaflag.png" ImageAlign="AbsMiddle" /> THE USA
             </div>
                </div>  
     </div>

          
   
          <asp:ContentPlaceHolder id="MiscContent" runat="server"></asp:ContentPlaceHolder>
   
    <asp:ScriptManager ID="ScriptManager1" runat="server" >
    <Scripts>
    <asp:ScriptReference Path="~/jquery.min.js" />
    </Scripts>
    </asp:ScriptManager>
   
    </form>
       <script type="text/javascript">

           function OnClientNodeCollapsing(sender, eventArgs) {
               var node = eventArgs.get_node();
               eventArgs.set_cancel(true);
           }  
    </script>

    
</body>
</html>


 