﻿<%@ Control Language="C#"%>
<script type="text/javascript">
    function runthis() {
        alert('asd');
    }

    
</script>
<div class="tbbg">
 <asp:TextBox ID="searchTextBox" cssClass="SearchBox" TextMode="SingleLine" onfocus="if (this.value=='Search...') {this.value='';}"  Text="Search..." runat="server"></asp:TextBox>

<asp:Button ID="searchButton" runat="server" CssClass="SearchBtn" Width="20px" 
    Height="22px" BackColor="Transparent" 
    BorderStyle="None">
</asp:Button> 
</div>              