﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ImageGallery.ascx.cs" Inherits="SitefinityWebApp.Controls.ImageGallery" %>
<%@ Register TagPrefix="telerik" Namespace="Telerik.Web.UI" Assembly="Telerik.Web.UI" %>

 <telerik:RadRotator ID="RadRotator1" runat="server" 
                ScrollDirection="Left, Right"   InitialItemIndex="0" OnItemDataBound="RadRotator1_ItemDataBound"
                FrameDuration="5000" PauseOnMouseOver="false" WrapFrames="true" EnableRandomOrder="true" SlideShowAnimation-Duration="2000" SlideShowAnimation-Type="CrossFade" RotatorType="SlideShow" Width="100%" Height="100%" ItemWidth="737px" >
                 
                
                 <ItemTemplate>
                 <asp:Image ID="Image1" runat="server" AlternateText="Vibco Vibrators" />
                 </ItemTemplate>
            </telerik:RadRotator>
