﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ProductViewDescription.ascx.cs" Inherits="SitefinityWebApp.Widgets.ProductViewDescription" %>
<h4><span>Description</span></h4>
<br />

<asp:Label runat="server" ID="LabelDescription"></asp:Label>