/*Telerik RadGrid Default Skin*/

/*global*/

.RadGrid_gridSkin
{
    border:1px solid #999;
    background:#fff;
    color:#000;
}
.rgNoRecords
{
    color:White;
}
.RadGrid_gridSkin,
.RadGrid_gridSkin .rgMasterTable,
.RadGrid_gridSkin .rgDetailTable,
.RadGrid_gridSkin .rgGroupPanel table,
.RadGrid_gridSkin .rgCommandRow table,
.RadGrid_gridSkin .rgEditForm table,
.RadGrid_gridSkin .rgPager table,
.GridToolTip_gridSkin
{
    font:12px/16px "segoe ui",arial,sans-serif;
}

.RadGrid_gridSkin .rgHeader:first-child,
.RadGrid_gridSkin th.rgResizeCol:first-child,
.RadGrid_gridSkin .rgFilterRow>td:first-child,
.RadGrid_gridSkin .rgRow>td:first-child,
.RadGrid_gridSkin .rgAltRow>td:first-child
{
	border-left-width:0;
	padding-left:8px;
}

.RadGrid_gridSkin .rgAdd,
.RadGrid_gridSkin .rgRefresh,
.RadGrid_gridSkin .rgEdit,
.RadGrid_gridSkin .rgDel,
.RadGrid_gridSkin .rgFilter,
.RadGrid_gridSkin .rgPagePrev,
.RadGrid_gridSkin .rgPageNext,
.RadGrid_gridSkin .rgPageFirst,
.RadGrid_gridSkin .rgPageLast,
.RadGrid_gridSkin .rgExpand,
.RadGrid_gridSkin .rgCollapse,
.RadGrid_gridSkin .rgSortAsc,
.RadGrid_gridSkin .rgSortDesc,
.RadGrid_gridSkin .rgUpdate,
.RadGrid_gridSkin .rgCancel,
.RadGrid_gridSkin .rgUngroup,
.RadGrid_gridSkin .rgExpXLS,
.RadGrid_gridSkin .rgExpDOC,
.RadGrid_gridSkin .rgExpPDF,
.RadGrid_gridSkin .rgExpCSV
{
	background-image:url('Grid/sprite.gif');
}

/*header*/

.RadGrid_gridSkin .rgHeaderDiv
{
	background:#e4e4e4;
}

.RadGrid_gridSkin .rgHeader,
.RadGrid_gridSkin th.rgResizeCol
{
	border:0;
	border-bottom:1px solid #7c7c7c;
	border-left:1px solid #9e9e9e;
	background:#e4e4e4;
}

.RadGrid_gridSkin th.rgSorted
{
	background-color:#fffaeb;
}

.RadGrid_gridSkin .rgHeader,
.RadGrid_gridSkin .rgHeader a
{
    color:#000;
}

.RadGrid_gridSkin th.rgSorted,
.RadGrid_gridSkin th.rgSorted a
{
    color:#892500;
}

/*rows*/

.RadGrid_gridSkin .rgRow td,
.RadGrid_gridSkin .rgAltRow td,
.RadGrid_gridSkin .rgEditRow td,
.RadGrid_gridSkin .rgFooter td
{
	border-style:solid;
	border-width:0 0 1px 1px;
}

.RadGrid_gridSkin .rgRow td
{
	border-color:#fff #c3c3c3;
}

.RadGrid_gridSkin .rgAltRow
{
	background:#ededed;
}

.RadGrid_gridSkin .rgAltRow td
{
	border-color:#ededed #c3c3c3;
}

.RadGrid_gridSkin .rgRow .rgSorted
{
	border-bottom-color:#fffaeb;
	background-color:#fffaeb;
}

.RadGrid_gridSkin .rgAltRow .rgSorted
{
	border-bottom-color:#f1ecdd;
	background-color:#f1ecdd;
}

.RadGrid_gridSkin .rgSelectedRow .rgSorted,
.RadGrid_gridSkin .rgActiveRow .rgSorted,
.RadGrid_gridSkin .rgHoveredRow .rgSorted,
.RadGrid_gridSkin .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_gridSkin .rgRow a,
.RadGrid_gridSkin .rgAltRow a,
.RadGrid_gridSkin tr.rgEditRow a,
.RadGrid_gridSkin .rgFooter a,
.RadGrid_gridSkin .rgEditForm a
{
	color:#F15A22;
	margin-left: 10px;
}

.RadGrid_gridSkin .rgSelectedRow
{
    background:#ffa517;
    color:#892500;
}
*+html .RadGrid_gridSkin .rgSelectedRow .rgSorted{background-color:#ffa517}
* html .RadGrid_gridSkin .rgSelectedRow .rgSorted{background-color:#ffa517}

.RadGrid_gridSkin .rgSelectedRow a,
.RadGrid_gridSkin .rgHoveredRow a,
.RadGrid_gridSkin .rgActiveRow a
{
	color:#892500;
}

.RadGrid_gridSkin .rgActiveRow,
.RadGrid_gridSkin .rgHoveredRow
{
    background:#ffe79c 0 -2900px repeat-x url('Grid/sprite.gif');
    color:#892500;
}
*+html .RadGrid_gridSkin .rgActiveRow .rgSorted,
*+html .RadGrid_gridSkin .rgHoveredRow .rgSorted{background-color:#ffe79c}
* html .RadGrid_gridSkin .rgActiveRow .rgSorted,
* html .RadGrid_gridSkin .rgHoveredRow .rgSorted{background-color:#ffe79c}

.RadGrid_gridSkin .rgEditRow
{
	background:#fff 0 -4900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_gridSkin .rgEditRow .rgSorted{background-color:#fff}
* html .RadGrid_gridSkin .rgEditRow .rgSorted{background-color:#fff}

.RadGrid_gridSkin .rgSelectedRow td,
.RadGrid_gridSkin .rgSelectedRow td.rgSorted
{
	border-color:#ca4b0c #ffa517;
}

.RadGrid_gridSkin .rgActiveRow td,
.RadGrid_gridSkin .rgActiveRow td.rgSorted,
.RadGrid_gridSkin .rgHoveredRow td,
.RadGrid_gridSkin .rgHoveredRow td.rgSorted
{
	border-color:#c98400 #ffe79c;
}

.RadGrid_gridSkin .rgEditRow td,
.RadGrid_gridSkin .rgEditRow td.rgSorted
{
	border-color:#616161 #c3c3c3;
}

.RadGrid_gridSkin .rgDrag
{
	background-image:url('Grid/rgDrag.gif');
}

/*footer*/

.RadGrid_gridSkin .rgFooterDiv,
.RadGrid_gridSkin .rgFooter
{
	background:#e4e4e4;
}

.RadGrid_gridSkin .rgFooter td
{
	border-top:1px solid;
	border-color:#999 #c3c3c3;
}

/*status*/

.RadGrid_gridSkin .rgPager .rgStatus
{
	border:1px solid;
	border-color:#999 #999 #e4e4e4 #e4e4e4;
	border-left-width:0;
}

.RadGrid_gridSkin .rgStatus div
{
	background-image:url('Common/loading_small.gif');
}

/*pager*/

.RadGrid_gridSkin .rgPager
{
	background:#323232;
	color:#FFF;
}

.RadGrid_gridSkin td.rgPagerCell
{
	border:1px solid;
	border-color:#999 #e4e4e4 #e4e4e4;
	border-right-width:0;
}

.RadGrid_gridSkin .rgInfoPart
{
	color:#FFF;
}

.RadGrid_gridSkin .rgInfoPart strong
{
	color:#F47648;
}

.RadGrid_gridSkin .rgPageFirst
{
	background-position:0 -550px;
}
.RadGrid_gridSkin .rgPageFirst:hover
{
	background-position:0 -600px;
}
.RadGrid_gridSkin .rgPagePrev
{
	background-position:0 -700px;
}
.RadGrid_gridSkin .rgPagePrev:hover
{
	background-position:0 -750px;
}
.RadGrid_gridSkin .rgPageNext
{
	background-position:0 -850px;
}
.RadGrid_gridSkin .rgPageNext:hover
{
	background-position:0 -900px;
}
.RadGrid_gridSkin .rgPageLast
{
	background-position:0 -1000px;
}
.RadGrid_gridSkin .rgPageLast:hover
{
	background-position:0 -1050px;
}

.RadGrid_gridSkin .rgPager .rgPagerButton
{
	border-color:#7e7e7e;
	background:#c6c6c6;
	color:#000;
	font:12px/12px "segoe ui",arial,sans-serif;
}

.RadGrid_gridSkin .rgNumPart a
{
	border:1px solid #e4e4e4;
	line-height:20px;
	color:#FFF;
}

.RadGrid_gridSkin .rgNumPart a:hover
{
	border-color:#c98400;
	background:#ffe79c;
	color:#892500;
}

.RadGrid_gridSkin .rgNumPart a.rgCurrentPage,
.RadGrid_gridSkin .rgNumPart a.rgCurrentPage:hover
{
	border-color:#ca4b0c;
	background:transparent;
	color:#892500;
}

/*sorting, reordering*/

.RadGrid_gridSkin .rgHeader .rgSortAsc
{
	background-position:3px -248px;
	height:10px;
}

.RadGrid_gridSkin .rgHeader .rgSortDesc
{
	background-position:3px -198px;
	height:10px;
}

.GridReorderTop_gridSkin,
.GridReorderBottom_gridSkin
{
	background:0 0 no-repeat url('Grid/sprite.gif');
}

.GridReorderBottom_gridSkin
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_gridSkin .rgFilterRow
{
	background:#e4e4e4;
}

.RadGrid_gridSkin .rgFilterRow td
{
    border-bottom:1px solid #999;
    border-left:1px solid #e4e4e4;
}

.RadGrid_gridSkin .rgFilter
{
	background-position:0 -300px;
}

.RadGrid_gridSkin .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_gridSkin .rgFilterActive,
.RadGrid_gridSkin .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_gridSkin .rgFilterBox
{
	border-color:#616161;
	font:12px "segoe ui",arial,sans-serif;
	color:#000;
}

/*filter context menu*/

.RadMenu_gridSkin .rgHCMClear,
.RadMenu_gridSkin .rgHCMFilter
{
	border-color:#7e7e7e;
	background:#c6c6c6;
	color:#000;
	font-family:"segoe ui",arial,sans-serif;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}

.RadMenu_gridSkin .rgHCMClear:hover,
.RadMenu_gridSkin .rgHCMFilter:hover
{
	border-color:#c98400;
	background-color:#ffe79c;
	color:#882501;
}

/*context menu*/

.GridContextMenu_gridSkin .rmLeftImage
{
	background-image:url('Grid/contextMenu.gif');
}

.GridContextMenu_gridSkin .rgHCMSortAsc .rmLeftImage
{
	background-position:0 0;
}

.GridContextMenu_gridSkin .rgHCMSortDesc .rmLeftImage
{
	background-position:0 -40px;
}

.GridContextMenu_gridSkin .rgHCMUnsort .rmLeftImage
{
	background-position:0 -80px;
}

.GridContextMenu_gridSkin .rgHCMGroup .rmLeftImage
{
	background-position:0 -120px;
}

.GridContextMenu_gridSkin .rgHCMUngroup .rmLeftImage
{
	background-position:0 -160px;
}

.GridContextMenu_gridSkin .rgHCMCols .rmLeftImage
{
	background-position:0 -200px;
}

.GridContextMenu_gridSkin .rgHCMFilter .rmLeftImage
{
	background-position:0 -240px;
}

.GridContextMenu_gridSkin .rgHCMUnfilter .rmLeftImage
{
	background-position:0 -280px;
}

/*grouping*/

.RadGrid_gridSkin .rgGroupPanel
{
	border:0;
	border-bottom:1px solid #7c7c7c;
	background:#c6c6c6;
}

.RadGrid_gridSkin .rgGroupPanel td
{
	border:0;
	padding:3px 4px;
}

.RadGrid_gridSkin .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_gridSkin .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_gridSkin .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_gridSkin .rgUngroup
{
	background-position:0 -6999px;
}

.RadGrid_gridSkin .rgGroupItem
{
	border:1px solid #7e7e7e;
	background:#c6c6c6;
}

.RadGrid_gridSkin .rgMasterTable td.rgGroupCol,
.RadGrid_gridSkin .rgMasterTable td.rgExpandCol
{
	border-color:#323232;
	background:#323232 none;
}

.RadGrid_gridSkin .rgGroupHeader
{
    background:#323232;
    font-size:1.1em;
    line-height:22px;
	color:#FFF!important;
	height:35px;
}

.RadGrid_gridSkin .rgGroupHeader td
{
	padding-left:8px;
	padding-bottom:2px;
}

.RadGrid_gridSkin .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_gridSkin .rgCollapse
{
	background-position:3px -444px;
}

/*editing*/

.RadGrid_gridSkin .rgEditForm
{
	border-bottom:1px solid #999;
}

.RadGrid_gridSkin .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_gridSkin .rgCancel
{
	background-position:0 -1850px;
}

/*hierarchy*/

.RadGrid_gridSkin .rgDetailTable
{
	border-color:#999;
}

/*command row*/

.RadGrid_gridSkin .rgCommandRow
{
	background:#c6c6c6;
	color:#000;
}

.RadGrid_gridSkin .rgCommandCell
{
	border:0;
	border-bottom:1px solid #7c7c7c;
	padding:0;
}

.RadGrid_gridSkin tfoot .rgCommandCell,
.RadGrid_gridSkin .rgMasterTable>tbody>tr.rgCommandRow .rgCommandCell
{
	border-top:1px solid #7c7c7c;
	border-bottom:0;
}

.RadGrid_gridSkin .rgCommandTable td
{
	border:0;
	padding:2px 7px;
}

.RadGrid_gridSkin .rgCommandTable
{
	border:0;
}

.RadGrid_gridSkin .rgCommandRow a
{
	color:#000;
	text-decoration:none;
}

.RadGrid_gridSkin .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_gridSkin .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_gridSkin .rgEdit
{
	background-position:0 -1700px;
}

.RadGrid_gridSkin .rgDel
{
	background-position:0 -1750px;
}

.RadGrid_gridSkin .rgExpXLS,
.RadGrid_gridSkin .rgExpDOC,
.RadGrid_gridSkin .rgExpPDF,
.RadGrid_gridSkin .rgExpCSV
{
	background-image:url('Grid/export.gif');
}

.RadGrid_gridSkin .rgExpXLS
{
	background-position:0 0;
}
.RadGrid_gridSkin .rgExpDOC
{
	background-position:0 -50px;
}
.RadGrid_gridSkin .rgExpPDF
{
	background-position:0 -100px;
}
.RadGrid_gridSkin .rgExpCSV
{
	background-position:0 -150px;
}

/*multirow select*/

.GridRowSelector_gridSkin
{
	background:#4c4e54;
}

/*row drag n drop*/

.GridItemDropIndicator_gridSkin
{
    border-top:1px dashed #666;
}

/*tooltip*/

.GridToolTip_gridSkin
{
	border:1px solid #c98400;
	padding:3px;
	background:#ffefbd;
	color:#333;
}

/*rtl*/

.RadGridRTL_gridSkin .rgHeader:first-child,
.RadGridRTL_gridSkin th.rgResizeCol:first-child,
.RadGridRTL_gridSkin .rgFilterRow>td:first-child,
.RadGridRTL_gridSkin .rgRow>td:first-child,
.RadGridRTL_gridSkin .rgAltRow>td:first-child
{
	border-left-width:1px;
	padding-left:7px;
}

.RadGridRTL_gridSkin .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_gridSkin .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_gridSkin .rgPagePrev
{
	background-position:0 -850px;
}
.RadGridRTL_gridSkin .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_gridSkin .rgPageNext
{
	background-position:0 -700px;
}
.RadGridRTL_gridSkin .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_gridSkin .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_gridSkin .rgPageLast:hover
{
	background-position:0 -600px;
}

.RadGridRTL_gridSkin .rgExpand
{
	background-position:-20px -496px;
}




 div.RadGrid_gridSkin {

	background-color: rgb(51, 51, 51);

}

 div.RadGrid_gridSkin .rgRow {

	background-color: rgb(255, 255, 255);

}

 div.RadGrid_gridSkin tr.rgSelectedRow {

	background-color: rgb(241, 90, 34);

	color: rgb(102, 0, 0);

}

 div.RadGrid_gridSkin table .rgActiveRow {

	background-color: rgb(241, 90, 34);

	color: rgb(102, 0, 0);

}

 div.RadGrid_gridSkin table tr.rgHoveredRow {

	background-color: rgb(241, 90, 34);

	color: rgb(255, 255, 255);

}

 div.RadGrid_gridSkin .rgAltRow {

	background-color: rgb(242, 238, 226);

}

 div.RadGrid_gridSkin .rgHoveredRow td {

	color: rgb(241, 90, 34);

}

 div.RadGrid_gridSkin .rgRow {

	color: rgb(241, 90, 34);

}

 div.RadGrid_gridSkin tr.rgSelectedRow {

	color: rgb(241, 90, 34);

}

 div.RadGrid_gridSkin table .rgActiveRow {

	color: rgb(241, 90, 34);

}

 div.RadGrid_gridSkin table tr.rgHoveredRow {

	color: rgb(241, 90, 34);

}

.RightContent .RadGridWrapper p{color:#FFF; font-size:14px; font-weight:bold;}

.RightContent .RadGridWrapper .NextPrevAndNumeric strong{color:#FFF}

.rgGroupCol
{
  padding-left: 0 !important;
  padding-right: 0 !important;
} 