/* RadMenu Default skin */

.RadMenu_Vibco 
{
	text-align: center;
 
	width:918px;
	 
}

.RadMenu_Vibco_rtl
{
	text-align: right;
}

.RadMenu_Vibco .rmRootGroup
{
	border: none;
	 background: transparent url(Menu/MenuBackground.gif) repeat-x top left;
	 
	 
}

 

.RadMenu_Vibco_Context
{
	background: none;
	border: 0;
}

.RadMenu_Vibco .rmLink,
.RadMenu_Vibco .rmTemplate
{
	line-height: 23px;
	text-decoration: none;
	color: black;
	height:30px;
	
  
}

   
.RadMenu_Vibco .rmLink:focus,
.RadMenu_Vibco .rmFocused
{
	outline: 0;
 
    background: transparent url(Menu/SelecetedMenuBackground.gif) repeat-x top left;
    
   
	
}

.RadMenu_Vibco .rmExpanded
{
	z-index: 10000;
	position: relative;
	
}

.RadMenu_Vibco_rtl .rmExpanded
{
	position: static;
}

.RadMenu_Vibco .rmLink:hover,
.RadMenu_Vibco .rmFocused,
.RadMenu_Vibco .rmExpanded
{
	color: white;
	 background: transparent url(Menu/SelecetedMenuBackground.gif) repeat-x top left;
}

.RadMenu_Vibco .rmLink,
.RadMenu_Vibco .rmTemplate
{
	font: bold 12px Arial;
	 
}

.RadMenu_Vibco .rmGroup
{
	background: #fff;
	 
}

.RadMenu_Vibco .rmGroup .rmLink,
.RadMenu_Vibco .rmGroup .rmTemplate
{
	text-decoration: none;
	color: black;
	text-align:left;
	
	
}

.RadMenu_Vibco_rtl .rmGroup .rmLink
{
	text-align: right;
}

.RadMenu_Vibco .rmGroup .rmLink:hover,
.RadMenu_Vibco .rmGroup .rmFocused,
.RadMenu_Vibco .rmGroup .rmExpanded
{
	color: #fff;
	background: #444;
	
}

.RadMenu_Vibco .rmText
{
	padding: 3px 20px 5px;
	font-size: 12px;
	font-family:Arial;
	font-weight:bold;
	line-height: 30px;
	height:30px;
}

.RadMenu_Vibco .rmGroup .rmLink .rmText
{
	 padding: 24px 37px 5px 20px;
	
	  font-family:Arial;
	  font-size:12px;
	  
	 
}

.RadMenu_Vibco_rtl .rmGroup .rmLink .rmText
{
	padding: 4px 20px 5px 37px;
}

/* <expand arrows styling> */

.RadMenu_Vibco .rmGroup .rmLink .rmExpandRight
{
	background: transparent url(Menu/ArrowExpand.gif) no-repeat right -1px;
}

.RadMenu_Vibco .rmGroup .rmLink .rmExpandLeft
{
	background: transparent url(Menu/ArrowExpandRTL.gif) no-repeat left -1px;
}

.RadMenu_Vibco .rmGroup .rmLink:hover .rmExpandRight,
.RadMenu_Vibco .rmGroup .rmFocused .rmExpandRight,
.RadMenu_Vibco .rmGroup .rmExpanded .rmExpandRight
{
	background-image: url(Menu/ArrowExpandHovered.gif);
}

.RadMenu_Vibco .rmGroup .rmLink:hover .rmExpandLeft,
.RadMenu_Vibco .rmGroup .rmFocused .rmExpandLeft,
.RadMenu_Vibco .rmGroup .rmExpanded .rmExpandLeft
{
	background-image: url(Menu/ArrowExpandHoveredRTL.gif);
}

/* </expand arrows styling> */

.RadMenu_Vibco .rmHorizontal .rmItem { border-right: 1px solid black; padding-bottom:1px;}
.RadMenu_Vibco .rmHorizontal .rmLast { border-right: 0; }

.RadMenu_Vibco .rmVertical .rmItem { border-bottom: 1px solid #353535;}
.RadMenu_Vibco .rmVertical .rmLast { border-bottom: 0; padding-bottom: 1px; }

.RadMenu_Vibco_rtl .rmHorizontal .rmItem { border-left: 0; }

.RadMenu_Vibco .rmRootGroup .rmGroup .rmItem,
.RadMenu_Vibco_Context .rmGroup .rmItem
{ border-right: 0; border-bottom: 0; padding-bottom: 0;  }

.RadMenu_Vibco .rmGroup
{
	border: 1px solid #828282;
	background-color: #fff;
}

.RadMenu_Vibco .rmGroup .rmExpanded
{
	z-index: 1;
}

.RadMenu_Vibco .rmTopArrow,
.RadMenu_Vibco .rmBottomArrow
{
	height: 10px;
	width: 100%;
	background: #fff url(Menu/ArrowScrollUpDown.gif) no-repeat top center;
}

.RadMenu_Vibco .rmBottomArrow
{
	background-position: center -18px;
}

.RadMenu_Vibco .rmLeftArrow,
.RadMenu_Vibco .rmRightArrow
{
	width: 10px;
	height: 100%;
	margin-top: -1px;
	background: #fff url(Menu/ArrowScrollLeftRight.gif) no-repeat left center;
}

.RadMenu_Vibco .rmRightArrow
{
	background-position: -18px center;
}

.RadMenu_Vibco .rmItem .rmDisabled .rmText
{
	color: #999;
}

.RadMenu_Vibco .rmRootGroup .rmItem .rmDisabled
{
	background: none;
}

.RadMenu_Vibco .rmGroup .rmItem .rmDisabled
{
	background-color: #fff;
}

.RadMenu_Vibco .rmRootGroup .rmSeparator,
.RadMenu_Vibco .rmGroup .rmSeparator
{
	background: #8f8f8f;
	border-top: 1px solid #676767;
	border-bottom: 0;
}

.RadMenu_Vibco .rmSeparator .rmText
{
	display: none;
}

.RadMenu_Vibco .rmHorizontal .rmSeparator
{
	height: 20px;
	width: 1px;
	line-height: 20px;
	border: 0;
}

.RadMenu_Vibco .rmVertical .rmSeparator
{
	height: 1px;
	margin: 3px 0;
	border: 0;
	line-height: 1px;
}

.RadMenu_Vibco .rmLeftImage
{
	margin: 2px;
}

.RadMenu_Vibco .rmSlide
{
	margin: -1px 0 0 -1px !important;
}

.RadMenu_Vibco .rmHorizontal .rmSlide
{
	margin-top: -2px !important;
}

.RadMenu_Vibco_rtl .rmSlide
{
	margin-left: 0 !important;
	margin-right: -1px !important;
}

.RadMenu_Vibco .rmGroup .rmSlide
{
	margin: 0 !important;
}

.RadMenu_Vibco .rmItem .rmDisabled:hover
{
	background: none;
}