.RadTabStrip_formTabStrip .rtsLI,
.RadTabStrip_formTabStrip .rtsLink
{
	color: #000000;
	font: 12px/22px "Segoe UI", Arial, sans-serif;
}

.RadTabStrip_formTabStrip .rtsLink
{
	border: 1px solid #7d7d7d;
	background: #e3e3e3;
}

.RadTabStrip_formTabStrip .rtsLink:hover
{
	background: #ffc3ad;
	border-color: #c94d20;
	color: #8a3516;
}

.RadTabStrip_formTabStrip .rtsSelected,
.RadTabStrip_formTabStrip .rtsSelected:hover
{
	background: #ffffff;
	border-color: #7d7d7d;
	color: #000000;
}

.RadTabStrip_formTabStrip .rtsLI .rtsLink { padding-left: 8px; }
.RadTabStrip_formTabStrip .rtsLI .rtsOut { padding-right: 8px; }

.RadTabStripLeft_formTabStrip .rtsSeparator,
.RadTabStripRight_formTabStrip .rtsSeparator
{
	
}

div.RadTabStrip_formTabStrip a.rtsLink:focus
{
    outline /*\**/: none\9;
}

div.RadTabStrip_formTabStrip a.rtsLink:focus:after
{
    left /*\**/: 0\9;
    top /*\**/: 0\9;
    right /*\**/: 0\9;
    bottom /*\**/: 0\9;
}

/* <disabled tabs> */
/* </disabled tabs> */

/* <scrolling arrows> */
.RadTabStrip_formTabStrip .rtsNextArrow,
.RadTabStrip_formTabStrip .rtsPrevArrow,
.RadTabStrip_formTabStrip .rtsPrevArrowDisabled,
.RadTabStrip_formTabStrip .rtsNextArrowDisabled
{
	background-image: url('TabStrip/TabStripStates.png');
}
.RadTabStrip_formTabStrip .rtsLevel .rtsNextArrow { background-position: -18px 0; }
.RadTabStrip_formTabStrip .rtsLevel .rtsPrevArrow { background-position: 0 0; }
.RadTabStrip_formTabStrip .rtsLevel .rtsNextArrow:hover { background-position: -54px 0; }
.RadTabStrip_formTabStrip .rtsLevel .rtsPrevArrow:hover { background-position: -36px 0; }
.RadTabStrip_formTabStrip .rtsLevel .rtsPrevArrowDisabled,
.RadTabStrip_formTabStrip .rtsLevel .rtsPrevArrowDisabled:hover { background-position: -72px 0; }
.RadTabStrip_formTabStrip .rtsLevel .rtsNextArrowDisabled,
.RadTabStrip_formTabStrip .rtsLevel .rtsNextArrowDisabled:hover { background-position: -90px 0; }

.RadTabStripLeft_formTabStrip .rtsLevel .rtsNextArrow,
.RadTabStripRight_formTabStrip .rtsLevel .rtsNextArrow { background-position: -18px -20px; }
.RadTabStripLeft_formTabStrip .rtsLevel .rtsPrevArrow, 
.RadTabStripRight_formTabStrip .rtsLevel .rtsPrevArrow { background-position: 0 -20px; }
.RadTabStripLeft_formTabStrip .rtsLevel .rtsNextArrow:hover,
.RadTabStripRight_formTabStrip .rtsLevel .rtsNextArrow:hover  { background-position: -54px -20px; }
.RadTabStripLeft_formTabStrip .rtsLevel .rtsPrevArrow:hover,
.RadTabStripRight_formTabStrip .rtsLevel .rtsPrevArrow:hover { background-position: -36px -20px; }
.RadTabStripLeft_formTabStrip .rtsLevel .rtsPrevArrowDisabled,
.RadTabStripLeft_formTabStrip .rtsLevel .rtsPrevArrowDisabled:hover,
.RadTabStripRight_formTabStrip .rtsLevel .rtsPrevArrowDisabled,
.RadTabStripRight_formTabStrip .rtsLevel .rtsPrevArrowDisabled:hover { background-position: -72px -20px; }
.RadTabStripLeft_formTabStrip .rtsLevel .rtsNextArrowDisabled,
.RadTabStripLeft_formTabStrip .rtsLevel .rtsNextArrowDisabled:hover,
.RadTabStripRight_formTabStrip .rtsLevel .rtsNextArrowDisabled,
.RadTabStripRight_formTabStrip .rtsLevel .rtsNextArrowDisabled:hover { background-position: -90px -20px; }
/* </scrolling arrows> */

.RadTabStripTop_formTabStrip .rtsLevel { background-color: transparent; }

.RadTabStripTop_formTabStrip_Baseline .rtsLevel,
.RadTabStripBottom_formTabStrip_Baseline .rtsLevel { background-image: url('TabStrip/TabStripStates.png'); }


/* <orientation: top> */
.RadTabStripTop_formTabStrip_Baseline .rtsLevel { background-position: 0 100%; background-repeat: repeat-x; }

.RadTabStripTop_formTabStrip .rtsLink
{
	margin-top: 2px;
}

.RadTabStripTop_formTabStrip .rtsLink:hover
{
	border-bottom-color: #7d7d7d;
}

.RadTabStripTop_formTabStrip .rtsSelected,
.RadTabStripTop_formTabStrip .rtsSelected:hover
{
	border-bottom-color: #ffffff;
	margin-top: 0;
	padding-top: 2px;
}
/* </orientation: top> */

/* <orientation: bottom> */
.RadTabStripBottom_formTabStrip_Baseline .rtsLevel { background-position: 0 -149px; background-repeat: repeat-x; }

.RadTabStripBottom_formTabStrip .rtsLink
{
	margin-bottom: 2px;
}

.RadTabStripBottom_formTabStrip .rtsLink:hover
{
	border-top-color: #7d7d7d;
}

.RadTabStripBottom_formTabStrip .rtsSelected,
.RadTabStripBottom_formTabStrip .rtsSelected:hover
{
	border-top-color: #ffffff;
	margin-bottom: 0;
	padding-bottom: 2px;
}
/* </orientation: bottom> */

/* <orientation: left> */
.RadTabStripLeft_formTabStrip .rtsLink:hover
{ border-right-color: #7d7d7d; }

.RadTabStripLeft_formTabStrip .rtsSelected,
.RadTabStripLeft_formTabStrip .rtsSelected:hover
{ border-right-color: #ffffff; }
/* </orientation: left> */

/* <orientation: right> */
.RadTabStripRight_formTabStrip .rtsLink:hover
{ border-left-color: #7d7d7d; }

.RadTabStripRight_formTabStrip .rtsSelected,
.RadTabStripRight_formTabStrip .rtsSelected:hover
{ border-left-color: #ffffff; }
/* </orientation: right> */

/* <disabled states> */
.RadTabStrip_formTabStrip .rtsDisabled,
.RadTabStrip_formTabStrip .rtsDisabled:hover
{
	border-color: #7d7d7d;
	background: #e3e3e3;
	color: #ababab;
}
/* </disabled states> */




 div.RadTabStrip_formTabStrip .rtsLink {

	border-color: rgb(0, 0, 0);

	font-weight: bold;

	line-height: 16px;

	text-align: center;

}

 div.RadTabStrip_formTabStrip .rtsLink .rtsOut {

	line-height: 16px;

}

 div.RadTabStrip_formTabStrip .rtsLink:hover {

	background-color: rgb(243, 92, 39);

	color: rgb(255, 255, 255);

	font-weight: bold;

}

 div.RadTabStrip_formTabStrip .rtsSelected {

	font-weight: bold;

	background-color: rgb(243, 92, 39);

	color: rgb(255, 255, 255);

}

 div.RadTabStrip_formTabStrip .rtsSelected:hover {

	font-weight: bold;

	background-color: rgb(243, 92, 39);

	color: rgb(255, 255, 255);

}

 div.RadTabStrip_formTabStrip .rtsDisabled {

	background-color: rgb(227, 227, 227);

}

 div.RadTabStrip_formTabStrip .rtsDisabled:hover {

	background-color: rgb(227, 227, 227);

}

