/*

RadTreeView Telerik skin

* For notes on the CSS class names, please check RadTreeView common skin file *

*/

/* general styles */


.RadTreeView_Vibco,
.RadTreeView_Vibco a.rtIn,
.RadTreeView_Vibco .rtEdit .rtIn input
{
	font:11px arial;
	color:#000;
	line-height:1.273em;
	white-space: normal;    
}

.RadTreeView_Vibco a.rtIn {
/*    display: inline-block;*/
    width: 100%;
}

.RadTreeView_Vibco .rtTop, 
.RadTreeView_Vibco .rtMid, 
.RadTreeView_Vibco .rtBot
{
	padding: 0 0 0 20px;
}

.RadTreeView_Vibco .rtPlus, 
.RadTreeView_Vibco .rtMinus
{
	margin:4px 6px 0 -18px;
	width:11px;
	height:11px;
}

.RadTreeView_Vibco .rtPlus
{
	/*need a plus sign */
	  background: transparent url('TreeView/PlusMinus.gif') no-repeat 0 -11px !important;
}

.RadTreeView_Vibco .rtHover .rtPlus
{
	/*need a plus sign */
	  background: transparent url('TreeView/PlusMinus.gif') no-repeat 0 0px !important;
}

.RadTreeView_Vibco .rtPlusHover
{
	/*need a plus sign */
	  background: transparent url('TreeView/PlusMinus.gif') no-repeat 0 0px !important;
}

.RadTreeView_Vibco .rtMinus
{
	/*has children not selected */
    background: transparent url('TreeView/PlusMinus.gif') no-repeat 0 -11px;
}

.RadTreeView_Vibco .rtHover .rtMinus
{
    /*hover over has children */
	
	background: transparent url('TreeView/PlusMinus.gif') no-repeat 0 0px;
}
.RadTreeView_Vibco .rtMinusHover
{
	/*need a plus sign */
	  background: transparent url('TreeView/PlusMinus.gif') no-repeat 0 0px !important;
}

.RadTreeView_Vibco .rtSp
{
	height:18px;
}

.RadTreeView_Vibco .rtChk
{
	margin: 0 2px;
	padding:0;
	width:13px;
	height:13px;
}

.RadTreeView_Vibco .rtIn
{
	margin-left:3px;
	padding: 2px;
}

/* endof general styles */


/*Three state checkboxes*/

.RadTreeView_Vibco .rtIndeterminate
{
    background: transparent url(TreeView/TriState.gif) no-repeat 0 -26px;
}

.RadTreeView_Vibco .rtChecked
{
    background: transparent url(TreeView/TriState.gif) no-repeat 0 0;
}

.RadTreeView_Vibco .rtUnchecked
{
    background: transparent url(TreeView/TriState.gif) no-repeat 0 -13px ;
}

/* node states */

.RadTreeView_Vibco .rtHover .rtIn
{
	color:#f35c27;
	 background-color:#ebe6d8;
	 border:none;
	 font-family:Arial;
	 font-size:11px;
	  border: 0px solid #ebe6d8;
}



.RadTreeView_Vibco .rtSelected .rtIn
{
	color:#f35c27;
	 
	 background-color:#ebe6d8;
	 border: 0px solid transparent;
	 font-family:Arial;
	 font-size:11px;
}

.RadTreeView_Vibco .rtSelected .rtMinus
{
    /*selected has children */
	
	background: transparent url('TreeView/PlusMinus.gif') no-repeat 0 0px;
}


.RadTreeView_Vibco_disabled .rtIn,
.RadTreeView_Vibco .rtDisabled .rtIn
{
	color:#ccc;
}

.RadTreeView_Vibco .rtSelected .rtLoadingBelow
{
	color: #000;
}

/* endof node states */


/* in-line editing */

.RadTreeView_Vibco .rtLI .rtEdit .rtIn
{
	border:none;
	padding: 1px;
	height:1.2em;
	background: #fff;
	text-decoration:none;
}

.RadTreeView_Vibco .rtEdit .rtIn input
{
	height:1em;
	line-height:1em;
	border:0;
	margin:0;
	padding:0;
	background:transparent;
}

/* endof in-line editing */


/* drop targets */

.rtDropAbove_Vibco,
.rtDropBelow_Vibco
{
    border: 1px dotted black;
    font-size: 3px;
    line-height: 3px;
    height: 3px;
}

.rtDropAbove_Vibco
{
    border-bottom: 0;
}

.rtDropBelow_Vibco
{
    border-top: 0;
}

/* endof drop targets */


/* node lines */

.RadTreeView_Vibco .rtLines .rtLI,
.RadTreeView_Vibco .rtLines .rtFirst .rtUL
{
	background:url('TreeView/NodeSpan.gif') repeat-y 0 0;
}
.RadTreeView_Vibco_rtl .rtLines .rtLI,
.RadTreeView_Vibco_rtl .rtLines .rtFirst .rtUL
{
	background:url('TreeView/NodeSpan_rtl.gif') repeat-y 100% 0;
}

.RadTreeView_Vibco .rtLines .rtFirst
{
    background:url('TreeView/FirstNodeSpan.gif') no-repeat 0 1.273em;
}
.RadTreeView_Vibco_rtl .rtLines .rtFirst
{
    background:url('TreeView/FirstNodeSpan_rtl.gif') no-repeat 100% 1.273em;
}

.RadTreeView_Vibco .rtLines .rtFirst .rtUL
{
	background:url('TreeView/FirstNodeSpan.gif') repeat-y 0 1.273em;
}

.RadTreeView_Vibco_rtl .rtLines .rtFirst .rtUL
{
	background:url('TreeView/FirstNodeSpan_rtl.gif') repeat-y 100% 1.273em;
}

.RadTreeView_Vibco .rtLines .rtLast,
.RadTreeView_Vibco .rtLines .rtLast .rtUL
{
	background:none;
	 
}

.RadTreeView .rtLI {
	overflow:hidden;
}

.RadTreeView_Vibco .rtLines .rtTop
{
	background:url('TreeView/TopLine.gif') 0 0 no-repeat;
}
.RadTreeView_Vibco_rtl .rtLines .rtTop
{
	background:url('TreeView/TopLine_rtl.gif') 100% 0 no-repeat;
}

.RadTreeView_Vibco .rtLines .rtLast .rtTop
{
	background:url('TreeView/SingleLine.gif') 0 0 no-repeat;
}

.RadTreeView_Vibco_rtl .rtLines .rtLast .rtTop
{
	background:url('TreeView/SingleLine_rtl.gif') 100% 0 no-repeat;
}

.RadTreeView_Vibco .rtLines .rtMid
{
	background:url('TreeView/MiddleLine.gif') 0 0 no-repeat;
}
.RadTreeView_Vibco_rtl .rtLines .rtMid
{
	background:url('TreeView/MiddleLine_rtl.gif') 100% 0 no-repeat;
}

.RadTreeView_Vibco .rtLines .rtBot
{
	background:url('TreeView/BottomLine.gif') 0 0 no-repeat;
}
.RadTreeView_Vibco_rtl .rtLines .rtBot
{
	background:url('TreeView/BottomLine_rtl.gif') 100% 0 no-repeat;
}

/* endof node lines */


/* rtl-specific styles */

/* firefox */
.RadTreeView_Vibco_rtl .rtPlus,
.RadTreeView_Vibco_rtl .rtMinus,
x:-moz-any-link
{
	margin-right:-11px;
	right:-13px;
}

.RadTreeView_Vibco_rtl .rtPlus,
.RadTreeView_Vibco_rtl .rtMinus,
x:-moz-any-link, x:default
{
	margin-right:0;
	right:-18px;
}

* html .RadTreeView_Vibco_rtl .rtPlus,
* html .RadTreeView_Vibco_rtl .rtMinus
{
	margin-right:-18px;
	right:0;
}

*+html .RadTreeView_Vibco_rtl .rtPlus,
*+html .RadTreeView_Vibco_rtl .rtMinus
{
	margin-right:-18px;
	right:0;
}

.RadTreeView_Vibco_rtl .rtTop,
.RadTreeView_Vibco_rtl .rtMid, 
.RadTreeView_Vibco_rtl .rtBot
{
	padding: 0 20px 2px 0;
	margin:0;
}

/* endof rtl-specific styles */


/* hacks for Opera & Safari */
@media screen and (min-width:550px)
{
	/* fixes for opera (changes the paddings/margins automatically in rtl mode) */

	html:first-child .RadTreeView_Vibco_rtl .rtPlus,
	html:first-child .RadTreeView_Vibco_rtl .rtMinus,
	html:first-child .RadTreeView_Vibco_rtl .rtFirst .rtLI .rtPlus,
	html:first-child .RadTreeView_Vibco_rtl .rtFirst .rtLI .rtMinus
	{
		margin:4px 6px 0 -18px;
		right:0;
	}
	
	/* fix for safari bug (inline-block positioned elements in rtl mode get no width) */
	:root .RadTreeView_Vibco_rtl .rtPlus,
	:root .RadTreeView_Vibco_rtl .rtMinus
	{
		right: 0;
		margin-right: -18px;
		margin-left: 7px;
	}
}

/* endof hacks */
.RadTreeView_Vibco_designtime .rtPlus,
.RadTreeView_Vibco_designtime .rtMinus
{
	left:3px;
	top:4px;
}