﻿.FullLeftCol
{
    width:750px;
    float:left;
      position:relative;
     margin-top:-14px;
    
}

.FullRightCol
{
    width:170px;
     float:right;
    position:relative;
 
}
.FullLeftCol a
{
    font-family: Arial;
    font-size:12px;
    color:#f35c27;
    font-weight:normal;
    text-decoration:none;
    border: 0px none white;
}

.LeftCol
{
    width:50%;
    float:left;
   position:relative;
   margin-top:25px;
}

.RightCol
{
    width:50%;
    float:right;
    margin-top:25px;
}

.LeftColContent
{
    height:335px;
    position:relative;
}

.RightColContent
{
 
    height:335px;
    position:relative;
    font-family:Arial;
    font-size:11pt;
    color:Black;
}

.RightColContent h2 a
{
      font-family:Arial;
    font-size:11pt;
    color:Black;
    font-weight:bold;
}

.SlideShow
{
    height:220px;
    border:1px solid #959593;
    border-top:none;
    border-left:none;
    width:737px;
   
    position:relative;
    background-color:white;
    display:table-cell;
    vertical-align:middle;
   
}

.MiniNavi
{
    height:205px;
    width:160px;
    margin-top:0;
    position:relative;
}
.VVV
{
    height:335px;
    width:160px;
    position:relative;
    margin-top:25px;
    font-family:Arial;
    font-size:10pt;
    color:Black;
} 
.VVV a
{
    color:#f35c27;
}

.HomeSideBar
{
      font-family: 'Helvetica Neue Bold Condensed';
    font-size:14pt;
    color:#f35c27;
    
}
 
 .FeaturedProduct
 {
     font-family:Arial;
    font-size:16px;
    color:Black;
    font-weight:bold;
     
 }
 
 .FeaturedProductimg img
 {
     text-align:center;
     width:200px;
     border:none;
 }
 .FeaturedProductLink
 {
      font-family:Arial;
    font-size:12px;
    color:#f35c27;
    font-weight:bold;
   float:right;
   margin-right:10px;
 }