.productsLeft {width:445px; margin-right:15px; border-right:2px solid #edebe5; color:#000}
.productsRight ul {margin:0; padding:0 0 0 20px}
.productsRight ul li {border-bottom:1px solid #edebe5}
	
#ProductDetailsSpecs, #ProductDetailsQuality{margin-bottom:35px}


#ProductDetailsSpecs h2 {
    color: Black;
    font-family: 'Helvetica Neue Bold Condensed';
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0 0px;
}

#ProductDetailsSpecs .sfgenericMetaInfo {float:right}
#ProductDetailsSpecs li {padding:5px 0}

.productsRight {width:415px}
 

.ProductDetails {
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:12px;
	margin:10px;
}

.ProductDetails a:link {text-decoration:none; font-weight:normal; color:#F35C27}

.ProductDetails h3 {
	font-family: 'Helvetica Neue Bold Condensed';
	font-size: 14px;
	color:#F35C27;
	margin:0 0 10px 0;
	padding: 0 0 8px 8px;
	text-transform:uppercase;
	border-bottom:2px solid #edebe5;
}

.ProductDetails h1
{
 font-family: 'Helvetica Neue Bold Condensed';
    font-size:32px;
    color:#f35c27;
    font-weight:bold;
}

.ProductDetails h3 span {
	color:#000;
}



.madeInUSA {
	width:170px;
	font-size:10px;
	padding-left:10px;
}

.quality {
	width:243px;
	border-right:2px solid #edebe5;
	margin-right:10px;
}

.quality ul {
	width:215px;
}

.helpBG {
	background:#f2ede8;
	padding: 18px 0 18px 35px;
}

.helpBG img {
	margin-right:30px
}


#ProductDetailsHelp {
	margin-bottom:30px
}

.productfooter {
	font-family: 'Helvetica Neue Bold Condensed';
	font-size:20px;
	border:1px solid #494949;
	background:#d9491a;
	color:#fff;
	text-align:center;
	margin:5px;
	padding:4px
}

ul.tabNavigation {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.tabNavigation li {
	float: left;
	background: url('Images/tabright.gif') top right no-repeat;
	margin: 0 5px 0 0;
}

ul.tabNavigation a {
	display: block;
	background: url('Images/tableft.gif') top left no-repeat;
	color: #ffc;
	text-decoration: none;
	padding: 0.6em 1em 0.25em;
}

ul.tabNavigation a:hover {
	/*color: white;*/
}

ul.tabNavigation .selected {
	font-weight: bold;
  /*background-color: White;*/
	background-image: url('Images/tabrightactive.gif');
}

ul.tabNavigation .selected a {
	background-image: url('Images/tableftactive.gif');
	/*color: white;*/
}

div.tab {
	clear: both;
	background: white;
	padding: 1em;
  border: 1px solid #AAA89B;
  margin: 0 10px 0 0;
}

.ProductDetails h4 {
	font-family: 'Helvetica Neue Bold Condensed';
	font-size: 14px;
	color:#F35C27;
	margin:0;
	padding: 0;
	text-transform:uppercase;
}

.ProductDetails h4 span {
	color:#000;
}







.tblProduct { background:#F2EEE2;
 border:1px solid gray;
 border-collapse:collapse;
 color:#fff;
 font:normal 12px  arial, helvetica, sans-serif;
}

.tblProduct td, .tblProduct th { color:#363636;
 padding:.4em;
}

.tblEven{ background:#FFF;
}

.tblProduct tr { border:1px dotted gray;
}
.tblProduct thead th, .tblProduct tfoot th { background:#323232;
 color:#FFFFFF;
 padding:3px 10px 3px 10px;
 text-align:left;
 text-transform:uppercase;
}

.tblProduct tbody td a:hover { text-decoration:underline;
}
.tblProduct tbody th a { color:#F15A22;
 font-weight:normal;
 text-decoration:none;
}
.tblProduct tbody th a:hover { color:#F15A22;
}

.tblProduct tbody th, tbody td { text-align:left;
 vertical-align:top;
}

.tblProduct tbody tr:hover { background:#F15A22;
 border:1px solid #03476F;
 color:#000000;
}





