﻿.LeftSideBar
{
    width:160px;
    margin: 0px 10px 0px 10px;
    position:relative;
    float:left;
}

.RightContent
{
    width:710px;
    margin: 15px 20px 0px 10px;
    position:relative;
    float:left;
}
 
 
.StratSideBar
{
    position:relative;
}

.RightContent h1
{
    font-family: 'Helvetica Neue Bold Condensed';
    font-size:32px;
    color:#f35c27;
    font-weight:bold;
}

.RightContent h2
{
    font-family: 'Helvetica Neue Bold Condensed';
    font-size:18px;
    color:Black;
    font-weight:bold;
    padding-top:30px;
}
	.LeftSideBar h2 {
	    font-family: 'Helvetica Neue Bold Condensed';
    	font-size:18px;
    	color:Black;
    	font-weight:bold;
		padding:15px 0 10px 0;
	}

.RightContent h3
{
     font-family: Times New Roman;
    font-size:15px;
    color:Black;
    font-weight:bold;
}
.RightContent h4
{
    font-family: Times New Roman;
    font-size:13px;
    color:Black;
    font-style:italic;
    font-weight:normal;
}
 
.RightContent p, .StratSideBar p, .MainContent p
{
    font-family:Arial;
    font-size:12px;
    color:Black;
    font-weight:normal;
}


.RightContent ul, .StratSideBar ul, .RightContent ol
{
    color: #E5002B;
    font-weight:normal;
    list-style-type:square;
    margin-left:40px;
    width:466px;
    position:relative;
    list-style-position: outside;


}
.RightContent ol
{
    list-style-type:decimal;
    
}
.RightContent ol li
{
    color:Black;
}

.RightContent li, .StratSideBar li
{
    font-family: Arial;
    font-size:12px;
    color:#000000;
    font-weight:normal;
   
    
}
.RightContent li span
{
    color:black;
}

.RightContent a, .StratSideBar a, .LeftSideBar a
{
    font-family: Arial;
    font-size:12px;
    color:#f35c27;
    font-weight:normal;
    text-decoration:none;
    border: 0px none white;
}
.RightContent img, .StratSideBar img
{
    border: 0px none white;
}
.RightContent a:hover, .StratSideBar a:hover
{
 
    text-decoration:underline;
   
}

.RightContent li a, .StratSideBar li a
{
    font-family: Arial;
    font-size:12px;
    color:#f35c27;
    font-weight:normal;
    text-decoration:none;
   
}

.RightContent li h2 a, .StratSideBar li h2 a
{
    color: #f35c27 !important;
    font-family: 'Helvetica Neue Bold Condensed' !important;
    font-size: 18px !important;
    font-weight: bold !important;
    text-decoration: none !important;   
}

.RightContent li a:hover, .StratSideBar li a:hover
{
 
    text-decoration:underline;
   
}

.BlockQuoteFull
{
  
    background-color:#f35c27;
    padding-top:10px;
    padding-bottom:10px;
     
}
.BlockQuoteFull p
{
    width:100%;
    margin: 0px 20px 0px 20px;
    color:White;
    
    font-style:italic;
    font-family: Times New Roman;
    font-size:16px;
    font-weight:bold;
      
}

.BlockQuoteFloat
{
     background-color:#f35c27;
     float:right;
     position:relative;
     width:220px;
     padding-bottom:15px;
     padding-top:15px;
}

.BlockQuoteFloat p
{
    width:200px;
    margin: 0px 20px 0px 20px;
    color:White;
   
    font-style:italic;
    font-family: Times New Roman;
    font-size:16px;
    display:block;
      font-weight:bold;
}