﻿/**
 *	Global Styles
 */

.clear {clear:both}
.left {float:left}
.right {float:right}

/*  Main Page Layout */
* { padding: 0; margin: 0; }

body 
{
    background-image: url('Images/bgFlame.png');
    background-repeat:repeat-x;
    background-color:black;
    margin: 0px 0px 0px 0px;
    position:relative;
    
        
}

.Page
{
   position:relative;
    width:948px;
    height:auto;
    margin-left: auto ;
    margin-right: auto ;
    

   
}


/*Top Of Page with Header */

.PageTop
{
     position:relative;
     height:185px;
     width:100%;
     margin-left:4px;
     margin-right:4px;
    background-image:url('Images/bgBlackGrad.png');
    background-repeat:no-repeat; 
    
   
}

.PageHeader
{
  
  position:relative;
    height:174px;
    width:100%;
   
}

.Logo
{
     position:relative;
     width:650px;
     height:100%;
     float:left;
     background-image:url('Images/hdr_logo_big.png');
     background-repeat:no-repeat;
     margin-top:0px;
}

.SearchSocial
{
    float:right;
    width:290px;
    height:100%;
    position:relative;
       vertical-align:top;
        margin: 18px 0px 0px 0px;
        display:inline-block;
        
}

.SMLinks
{
    float:left;
    margin-left:0px;
    margin-top:65px;
    width:104px;
    height:100%;
    position:relative;
}

.Search
{
 
    position:absolute;
    width:200px;
    z-index: 200; 

    top:5px;
    left:75px;
  
    
    color:#f15a22;
    font-size:28px;
    font-family:Arial;
    font-weight:bold;

}
.Search p
{
    padding-bottom:10px;
    text-align:right;
}



.tbbg
{
    position:absolute;
    top:65px;
    left:38px;
    background:transparent url(images/searchbox.png) no-repeat;
    width:141px;
	height:23px;
	margin-right:10px;

}

.SearchBox
{
    
	margin-left:22px;
	line-height:23px;
    
	border:none;
	width:130px;
	height:23px;
	background:none;
	font-size:8pt;
	font-family:Arial;
	overflow:hidden;
	position:absolute;
    top:0px;
    left:0px;
     outline: none;
 
      
}

.SearchBtn
{
    position:absolute;
    
    left:141px;
    background:transparent url(images/searchbtn.png) no-repeat;
     Width:20px;
     Height:22px;
     

}

/* Tactical Nav Layout */

.TNavi
{
   
    height:25px;
    width:920px;
    background-color:transparent;
    color:red;
    margin: 0px 10px 0px 0px;
   position:absolute;
   top:98px;
   left:14px;
 
       
}

.TNaviLinks
{
    height:100%;
    text-align:right;
    margin-right:2px;
    
    font-family:Arial;
    font-weight:bold;
    color:#f35c27;
    position:relative;
    font-size:10pt;
    margin-top:20px;
    margin-bottom:6px;
    
}

.TNaviLinks a
{
    color:white;
    text-decoration:none;
    
}

.MainNavi
{
    margin: -12px 0px 0px 0px;
    width:918px;
    height:20px;
    
    position:relative;
  
   
}

.MainNaviSub
{
    height:15px;
    width:100%;
    border:none;
    background:transparent;
    vertical-align:top;
     
    font-family:Arial;
    font-size:8pt;
    color:white;
    
}

.MainNaviMenu
{
    width:100%;
    height:30px;
    border: 1px solid black;
    
}

/* Main Content layout area */

.MainContentWrapper
{
	background-image:url('Images/bgMainCnt.png');
	background-repeat:no-repeat; 
	margin-left:4px;
	width:948px;
	position:relative;
	padding-bottom:20px;
	padding-top:10px;
}

.MainContent
{
  
    width:920px;
   
    margin: 0px 14px 0px 14px;
    background-color:transparent;
    position:relative;
    color:black;
    background-color:white;
  
}



/* Footer Content layout are */

.Footer
{
      
    position:relative;
    width:942px;
    height:120px;
   
    margin-left:7px;
     
}

.FooterContent
{
    position:relative;
    text-align:center;
    padding-top:20px;
     background-color:Black;
    color:#888888;
    font-family:Arial;
    font-weight:bold;
    font-size:10pt;
}

.FooterContent a
{
    
    color:#f35c27;
    text-decoration:none;
}

/* Other Shared Page CSS */
.Breadcrumbs
{
	height:23px;
	width:898px;
	border: 1px solid gray;
	background-image: url('Images/graygrad.png');
	background-repeat:repeat-x;
	margin:0px 10px 0px 10px;
	position:relative;
	text-indent: 3px;
}



.BreadcrumbsNode {
    color:#000;
    display: inline-block;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    margin-top: 3px;
    text-decoration: none;
}
 

a.BreadcrumbsNode:hover
{
    text-decoration:underline;
    
}

.BreadcrumbsNavPathSep
{
    background-image:url('Images/bcseperator.png');
    background-repeat:no-repeat;
    color:#beb7ab;
    width:12px;
    white-space:pre;
}

.SideBarNav
{
    position:relative;
    margin-top:70px;
  
}

.SideBarNav h4
{
    background-color:#333333;
    font-family: 'Helvetica Neue Bold Condensed';
    font-size:14px;
    width:100%;
    color:#fff;
    height:25px;
    padding-top:7px;
    display:block;
	text-indent: 10px;
} 

/**
 * Temp Product Details
 */
 
.productsLeft {
	width:445px;
	margin-right:15px;
	border-right:2px solid #edebe5;
}

.productsRight {
	width:415px;
}
.sfHighlight
{
    color:#f35c27;
}
.sfimagesTmbList .sfimagesTmb {
    display: inline-block;
    height: 120px;
    overflow: hidden;
    padding: 10px;
    width: 120px;
}
.sfimagesTmbList a {
    display: block;
    height: 120px;
    overflow: hidden;
    text-align: center;
    width: 120px;
}
.sfimagesTmbList img {
    vertical-align: middle;
}
