﻿@font-face {
font-family: 'Helvetica Neue Bold Condensed';
src: url('Fonts/helveticaneueltstd-bdcn.eot'); /* FOR IEs */
src: local('Helvetica Neue Bold Condensed'), url('Fonts/helveticaneueltstd-bdcn.ttf') format('truetype'); /* for other web browsers */
}

@font-face {
	font-family: 'HelveticaNeueRegular';
	src: url('Fonts/helvetica_neue-webfont.eot');
	src: local('â˜º'), url('Fonts/helvetica_neue-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
