﻿.FormWrapper p
{
    font-family: Helvetica !important;
    font-size:12px !important;
    color:#333333 !important;
}
.FormWrapper h2
{
    font-family: 'Helvetica Neue Bold Condensed' !important;
    font-size:18px !important;
    color:#333333 !important;
    font-weight:bold !important;
    padding: 5px 0px 5px 0px !important;
    padding-top:5px !important;
     
}
.FormWrapper
{
    width:100%;
    background-color:#f3efe3 !important;
        
}
 .rtsUL
 {
     width:100% !important;
 }
 
 .rtsUL a:hover{text-decoration:none!important}
 
 .formHeaderLayout
    {
       
       margin-left:10px;
     
        width: 100%;
        
    }
.formHeaderLayout hr
{
    border: 1px solid #7a7872;
    height:4px;
    background-color: #7a7872;
      margin-right:20px;
     margin-bottom:10px;
}
    .formdotted
{
    
    border-top:1px dotted #7a7872;
    height:1px;
    padding: 5px 0px 5px 0px;
         margin-right:20px;
         margin-top:5px;
   
}

.formsolid
{
     
    border-top:1px solid #7a7872;
    height:1px;
    padding:5px 0px 5px 0px;
         margin-right:20px;
          margin-top:5px;
   
  
}

    .formLayout
    {
         
          margin-left:10px;
        width: 100%;
    }
    
    .formLayout sup
    {
        color:Red;
        
    }
       .formLayout br
    {
        clear: left;
        
    }
    .clearall
    {
        clear:both !important;
    }

    .FormInput:focus
    {
        border: 1px solid #f35c27;
    }
    .FormLabel,.FormInput
    {
        display: block;
        width: 120px;
        float: left;
        margin-bottom: 5px;
        color:Black;
        
    }
     .FormLabel
    {
        font-family: Helvetica !important;
       font-size:12px !important;
      color:#333333 !important;
         font-weight:bold;
        text-align: left;
        padding-right: 20px;
    }
  .FormInput
  {
       height:15px;
       border: 1px solid #aca9a1;
       width:315px;
       padding-top:10px; 
              
  }
  
  .FormInputSmall,.FormlabelLarge
  {
       display: block;
         
        float: left;
        margin-bottom: 5px;
  }
   .FormInputSmall
   {
          height:15px;
        border: 1px solid #aca9a1;
        padding-top:10px;
       }
 .FormInputSmall:focus
    {
        border: 1px solid #f35c27;
    }
  .FormlabelLarge
    {
       
        color:Black;
        font-family: Helvetica !important;
       font-size:12px !important;
      color:#333333 !important;
         font-weight:bold;
        text-align: left;
        padding-right: 20px;
         width: 240px;
    }
    .FormLabelP
    {
           color:Black !important;
        font-family: Helvetica !important;
       font-size:12px !important;
      color:#333333 !important;
         font-weight:bold !important;
        text-align: left !important;
        padding-right: 20px !important;
          
    }
      .FormlabelLarge
    {
       
        color:Black;
        font-family: Helvetica !important;
       font-size:12px !important;
      color:#333333 !important;
         font-weight:bold;
        text-align: left;
        padding-right: 20px;
         width: 240px;
    }
     .FormRBLLarge
    {
       
        color:Black;
        font-family: Helvetica !important;
       font-size:12px !important;
      color:#333333 !important;
         font-weight:bold;
        text-align: left;
        padding-right: 20px;
         width: 350px;
    }
   .FromRadio
   {
        font-family: Helvetica !important;
       font-size:12px !important;
      color:#333333 !important;
         font-weight:bold;
        text-align: left;
        padding-right: 20px;
   }
 .submitButton
{
    background-image:url(Images/btnSubmit.png);
    width:73px;
    height:25px;
    color:white;
}

.Spinnerup
    {
       	display: block;
       	padding:0 0 0 5px;
	    text-indent: -9999px;
	    width: 16px;
	    height: 8px;
	    line-height: 8px;
	    background: transparent url('Images/SpinButtonSprites.gif') no-repeat;
	    font-size:1px;
	    position:relative;/*FF*/
	    z-index:2;/*Opera*/
	    _position:static;/*IE*/
	    outline:none;/*FF*/
	    background-position: center 1px;
    }
    
    .Spinnerdown
    {
        display: block;
       	padding:0 0 0 5px;   	
	    text-indent: -9999px;
	    width: 16px;
	    height: 8px;
	    line-height: 8px;
	    background: transparent url('Images/SpinButtonSprites.gif') no-repeat;
	    font-size:1px;
	    position:relative;/*FF*/
	    z-index:2;/*Opera*/
	    _position:static;/*IE*/
	    outline:none;/*FF*/
       background-position: center -7px;
    }
 
.FormValidation
{
    background-color:#ffdc90;
    border: 2px solid #f35c27;
    color: black;
    padding: 5px 0px 2px 5px;
   
    
}
.FormValidation ul
{
    margin-top:5px;
    list-style-type:disc;
  
}
.FormValidation li
{
      color:Black;
}
 
.FormDropDown  
{
    width:93px;
    height:25px;
 
 margin-bottom:10px;  
  
}

 