﻿

.RightContent h2{padding: 15px 0 10px 0;}
.RightContent h2.belowBanner{padding-top: 30px}
.RightContent h1{margin-bottom: 16px;}
.RightContent p{padding-bottom: 15px;}
.RightContent li{margin-bottom: 10px;}

.RightContent .subheader h1{margin-bottom: 0;}
.RightContent .subheader {margin-bottom:10px;}
.quickCasePoint h2{background:#F25B28;padding: 2px 2px 2px 10px; margin:40px 0 10px 0; font-size:13px; color:#FFF}
.quickCasePoint { background:#F2EEE2; }
.quickCasePoint p{margin: 0 10px; font-size:10px; }

.RadTreeView .rtLI{border-bottom:solid 1px #CCC}
.RadTreeView .rtLast{border-bottom:none}


.north a{font-weight:bold!important; font-size:15px!important; }
.north ul li{float:left; padding:0 33px 0 0}
.north ul li a{margin:0 0 0 6px;}
.north ul {padding:0; margin:0; display:inline; list-style-position:outside;}

.north .first{list-style-type:none;}
.north .first a{ margin:0}
.north .last{padding-right:0;}

p.top{margin-top:15px;}

.rightColumnSide{float: right; width: 300px; margin: 0pt 0pt 15px 15px;}
/* \\ANC-DEVSP2010\Sitefinity\App_Themes\VibcoOrange\Global */

.textBoxMed input{width:195px}


.RightColContent{padding:0 0 0 15px; border-left:2px solid #F2EEE2; border-right:2px solid #F2EEE2; width:345px;}
.RightColContent hr{color:#F2EEE2; margin:5px 0}
.RightColContent p{margin-bottom:10px}
.sfnewsFullStory{text-decoration:none; color:#F15A22}

.RadMenu .rmLink{padding:0 0 0 10px!important}

/*---------------Search Results---------------*/
.searchResults{font-family:Arial; font-size:12px; }
.searchResults a{font-weight:bold; font-size:16px;}
.searchResults .sfsearchResultSnippet{margin-top:10px}
.sf_pagerNumeric{margin-bottom:20px;}
.sf_pagerNumeric a{margin-right:5px}



/*---------------------------------------------*/
/* Homepage News */
/*---------------------------------------------*/

.sfnewsSummary {
	font-size: 12px; 
	margin: 0 0 4px 0;
}

.sfnewsList {
	padding-right:15px;
}

.sfnewsList p {
	margin: 0 0 5px 0;
}

.sfnewsTitle {
	font-size: 13px;	
}

/*---------------------------------------------*/
/* Comment Form */
/*---------------------------------------------*/

.sfcommentsForm ol li {
	list-style-type: none;	
}

.sfcommentsForm ol {
	margin-left: 3px!important;
}
.sfcommentsForm {
	background:#F3EFE3;
	padding: 5px 5px 0 5px;
}

.sfcommentsForm label {
	display: block;
	width: 120px;
	float: left;
	margin-bottom: 5px;
	color: Black;
	font-family: Helvetica !important;
	font-size:12px !important;
	color:#333333 !important;
	font-weight:bold;
	text-align: left;
	padding-right: 20px;	
}

.sfcommentsForm label:focus {
    border: 1px solid #f35c27;
}
	
.sfcommentsForm .sfcommentsField input{
    border: 1px solid #ACA9A1;
    height: 22px;
    padding: 3px;
    width: 315px;
}

.sfreContentArea {
	background:none!important;	
	/*border: 1px solid #ACA9A1;*/
    padding: 3px;
	width: 390px!important;
}

/*iframe, iframe tr, iframe td, iframe tbody, iframe table {
	width: 400px!important;
}*/
/*---------------------------------------------*/
/* News Page */
/*---------------------------------------------*/

.vNewsPage ul{
	width:100%!important;
}

.social_icons {
	margin: 30px 0 0 0;
}

.call_to_action{
	padding: 5px 10px;
}

.sfTxtContent
{
    color: Black;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;  
}
.StratSideBar  
{
     font-family:Arial;
    font-size:12px;
    color:Black;
    font-weight:normal;
}