﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ProductEditor.ascx.cs" Inherits="SitefinityWebApp.Widgets.Admin.ProductEditor" %>
<fieldset class="sfNewContentForm">
    <div>
        <asp:HyperLink ID="HyperLinkReturn" runat="server" CssClass="sfLinkBtn" >
            <asp:Label ID="Label4" runat="server" CssClass="sfLinkBtnIn" >Return</asp:Label>
        </asp:HyperLink>
        <br />
        <asp:PlaceHolder runat="server" ID="EditorPlaceholder">
        </asp:PlaceHolder>
    </div>
</fieldset>
<br />
<br />
<br />


