﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FeaturedProductView.ascx.cs" Inherits="SitefinityWebApp.Widgets.FeaturedProductView" %>

<br />
<center><asp:Label runat="server" ID="LabelTitle" CssClass="FeaturedProduct"></asp:Label></center>
<br />
<center><asp:HyperLink ID="imgLabelProduct" runat="server" CssClass="FeaturedProductimg"/></center>
<br />
<div style="width:100%"><asp:HyperLink ID="HyperLink1" runat="server" CssClass="FeaturedProductLink"/></div>

