﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ProductViewDescription.ascx.cs" Inherits="SitefinityWebApp.Widgets.ProductViewDescription" %>

<asp:Label runat="server" ID="LabelDescription"></asp:Label>